{
 :deps
 {
  io.github.pupcus/kosmos {:git/tag "2025-07-24-R1"
                           :git/sha "aa76089"}
  ring/ring-jetty-adapter  {:mvn/version "1.14.2"}
  }

 :paths ["src"]

 :aliases
 {
  :dev {:extra-paths ["test" "dev-resources"]
        :extra-deps {clj-http/clj-http {:mvn/version "3.13.1"}
                     cider/cider-nrepl             {:mvn/version "0.57.0"}
                     org.clojure/clojure           {:mvn/version "1.12.1"}
                     org.slf4j/slf4j-simple        {:mvn/version "2.0.17"}
                     refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
        :main-opts ["-m" "nrepl.cmdline"
                    "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

  ;; make test
  :test {:extra-paths ["test" "dev-resources"]
         :extra-deps {clj-http/clj-http {:mvn/version "3.13.1"}
                      lambdaisland/kaocha    {:mvn/version "1.91.1392"}
                      org.slf4j/slf4j-simple {:mvn/version "2.0.17"}}
         :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
         :main-opts [ "-m" "kaocha.runner"]}
  }
 }
