{
 :deps
 {
  kosmos/kosmos {:git/url "https://github.com/pupcus/kosmos.git"
                 :git/tag "2022-06-28-R2"
                 :git/sha "1139f6e"}
  ring/ring-jetty-adapter  {:mvn/version "1.9.5"}
  }

 :paths ["src" "resources"]

 :aliases
 {
  :dev {:extra-paths ["test" "dev-resources"]
        :extra-deps {clj-http/clj-http {:mvn/version "3.12.3"}
                     org.eclipse.jetty/jetty-servlets {:mvn/version "9.4.44.v20210927"}
                     org.eclipse.jetty/jetty-xml {:mvn/version "9.4.44.v20210927"}}}


  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  }

 }
