{
 :deps
 {
  io.github.pupcus/kosmos {:git/tag "2022-06-29-R1"
                           :git/sha "1d3e828"}
  ring/ring-jetty-adapter  {:mvn/version "1.9.5"}
  }

 :paths ["src"]

 :aliases
 {
  :dev {:extra-paths ["test" "dev-resources"]
        :extra-deps {clj-http/clj-http {:mvn/version "3.12.3"}
                     org.eclipse.jetty/jetty-servlets {:mvn/version "9.4.44.v20210927"}
                     org.eclipse.jetty/jetty-xml {:mvn/version "9.4.44.v20210927"}}}
  }
 }
